@import "tailwindcss";
@plugin "daisyui";


@theme {
    --color-r-primary: #6300B3;
    --color-r-secondary: #EFE2F8;
    --color-r-accent: #9B00FF;
    --color-r-background: #F1E7FB;
    --color-text: #333333;
}
